::-webkit-validation-bubble-arrow-clipper {
  display: none;
}
:where(.Mui-focused) {
  outline: none;
}
:-webkit-any(
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus
  ) {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
:-webkit-any(
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus
  ) {
  transition: background-color 5000s ease-in-out 0s;
}
feColorMatrix {
  color-interpolation-filters: sRGB;
}
